{% extends 'base.html' %}
{% block title %}Приветствие{% endblock %}
{% block content %}
  <p class="instructions"><b>Добро пожаловать:</b></p>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="fas fa-laptop mr-5"></i>1. Чтобы приступить к тестам, зарегистрируйся и войди в свой профиль.
      </li>
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="fas fa-bomb mr-5"></i>2. Тебе откроется страничка с тестами
      </li>
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="fas fa-code mr-5"></i>3. Ответь на все вопросы.
        Проверь себя, нажав кнопку "Проверить".
      </li>
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="far fa-gem mr-5">

      </i>4. За правильные ответы тебе начислятся баллы, за которые ты можешь
        поменять цвет страницы профиля или цвет логина.
      </li>
    </ul>
{% endblock %}